<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="EmployeeManagementSystem.Properties.Settings.employeeManagerConnectionString1"
            connectionString="Data Source=DESKTOP-K665D7S;Initial Catalog=employeeManager;Persist Security Info=True;User ID=sa;Password=123456;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="EmployeeManagementSystem.Properties.Settings.employeeManagerConnectionString"
            connectionString="Data Source=DESKTOP-K665D7S;Initial Catalog=employeeManager;Persist Security Info=True;User ID=sa;Password=123456;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="EmployeeManagementSystem.Properties.Settings.employeeManagerConnectionString2"
            connectionString="Data Source=DESKTOP-KC4B8TP;Initial Catalog=employeeManager;Persist Security Info=True;User ID=sa;Password=123456;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="EmployeeManagementSystem.Properties.Settings.employeeManagerConnectionString3"
            connectionString="Data Source=DESKTOP-KC4B8TP;Initial Catalog=employeeManager;Persist Security Info=True;User ID=sa;Password=123456;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>